.carslot {
  padding: 20px;
  &-content {
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
    }
  }
  &-customer {
    background-color: white;
    padding:20px;
    margin-right: 10px;
  }
}
